.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.homeTitle{
   
    width: 1024px;
    font-size: 30px;
    height: 3px ;
   
 
} 